{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
    <div class="container">
      <div class="page-header">
        <h1><br>眼见为食</h1>
      </div>

      <!-- ask show ranking list or not -->
{#      <form action="{% url 'home:ranking-lists' %}" method="post" target="_blank">#}
{#          {% csrf_token %}#}
{#          <button type="button" class="btn btn-basic">显示排行榜</button>#}
{#      </form>#}
      <a href="{% url 'home:ranking-lists' %}" target="_blank" class="btn btn-default" role="button">
          显示排行榜
      </a>

      <!-- show choices and ask for input -->
      <form action="{% url 'home:home' %}" method="post">
          {% csrf_token %}
          {% bootstrap_form search_form %}
      </form>
      {% if search_choice and char_input %}
          <a href="{% url 'home:statistics' search_choice=search_choice char_input=char_input %}" target="_blank" class="btn btn-default" role="button">
              显示统计信息
          </a>
      {% endif %}

      <!--if search by properties, list brief information about restaurants-->
      {% if not comments %}
      <table>
          <tbody class="table">
              <ul class="list-group">
                  {% for shop in shops %}
                      <li class="list-group-item">
                      <a href="{% url 'single_shop:single_shop' id=shop.id %}">{{shop}}</a> <!-- need to replace this with the correct url -->
                          <div class="pull-right">
                              {% bootstrap_icon 'cutlery' %}<b>{{shop.taste}}</b>
                              {% bootstrap_icon 'star' %}{{shop.shoplevel}}
                          </div>
                      </li>
                  {% endfor %}
              </ul>
          </tbody>
      </table>
      {% endif %}

      <!-- list comment information -->
      <table>
          <tbody class="table">
          <div class="list-group">
              {% for comment in comments %}
                  <a href="{% url 'single_shop:single_shop' id=comment.shop_id %}" class="list-group-item">{{ comment }}
                      <p class="list-group-item-text">
                          {% bootstrap_icon 'comment' %}<b>{{ comment.content }}</b>
                      </p>
                  </a>
              {% endfor %}
          </div>
          </tbody>
      </table>

    </div>

{% endblock %}