{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
    <div class="container">
      <div class="page-header">
        <h1>排行榜</h1>
      </div>
      
      <table>
          <tbody class="table">
          {% for category, list in ranking_lists.items %}
              <ul class="list-group">
                  {% if category == '面' %}
                      <h1 class="list-group-item-heading">最好吃的面馆</h1>
                  {% elif category == '肉' %}
                      <h1 class="list-group-item-heading">无肉不欢榜单</h1>
                  {% else %}
                      <h1 class="list-group-item-heading">{{ category }}榜单</h1>
                  {% endif %}
                  {% for shop in list %}
                      <li class="list-group-item">
                          <a href="{% url 'home:home' %}">
                              {% bootstrap_icon 'cutlery' %}<b>{{ shop }}</b>
                          </a> <!-- need to replace this with single shop's url -->
                      </li>
                  {% endfor %}
              </ul>
          {% endfor %}
          </tbody>
      </table>
    
    </div>
{% endblock %}
