{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
    <div class="container">
        <div class="row">
          <!-- breadcrumb -->
          <ol class="breadcrumb">
              <li><a href="{% url 'home:home' %}">首页</a></li>
                  {% if search_by == 'loc' %} <!-- search by loc -->
                      {% if foodtype == 'all' %} <!-- haven't chosen foodtype yet-->
                          <li class="active">{{ loc }}</li>
                      {% else %}
                          <li><a href="{% url 'home:search-by-loc' loc=loc foodtype='all' order_by=order_by%}">{{ loc }}</a></li>
                          <li class="active">{{ foodtype }}</li>
                      {% endif %}
                  {% else %} <!-- search by foodtype -->
                      {% if loc == 'all' %} <!-- haven't chosen foodtype yet-->
                          <li class="active">{{ foodtype }}</li>
                      {% else %}
                          <li><a href="{% url 'home:search-by-foodtype' loc='all' foodtype=foodtype order_by=order_by%}">{{ foodtype }}</a></li>
                          <li class="active">{{ loc }}</li>
                      {% endif %}
                  {% endif %}
          </ol>
        </div>

        <!-- secondary classification -->
        <div class="row">
            <nav class="navbar navbar-default">
                <ul class="nav navbar-nav">
                    {% if search_by == 'loc' %}
                        {% for choice in other_choices %}
                            <li><a href="{% url 'home:search-by-loc' loc=loc foodtype=choice order_by=order_by %}">{{ choice }}</a></li>
                        {% endfor %}
                    {% else %}
                        {% for choice in other_choices %}
                            <li><a href="{% url 'home:search-by-loc' loc=choice foodtype=foodtype order_by=order_by %}">{{ choice }}</a></li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </nav>
        </div>

    <div class="row">
        <div class="col-sm-9">
            <div class="panel panel-default">
                <!-- sort choices -->
                <div class="panel-heading clearfix">
                    <div class="btn-group pull-right">
                        {% if search_by == 'loc' %}
                            <a href="{% url 'home:search-by-loc' loc=loc foodtype=foodtype order_by='taste' %}" class="btn btn-default btn-sm">按味道</a>
                            <a href="{% url 'home:search-by-loc' loc=loc foodtype=foodtype order_by='service' %}" class="btn btn-default btn-sm">按服务</a>
                            <a href="{% url 'home:search-by-loc' loc=loc foodtype=foodtype order_by='envi' %}" class="btn btn-default btn-sm">按环境</a>
                        {% else %}
                            <a href="{% url 'home:search-by-loc' loc=loc foodtype=foodtype order_by='taste' %}" class="btn btn-default btn-sm">按味道</a>
                            <a href="{% url 'home:search-by-loc' loc=loc foodtype=foodtype order_by='service' %}" class="btn btn-default btn-sm">按服务</a>
                            <a href="{% url 'home:search-by-loc' loc=loc foodtype=foodtype order_by='envi' %}" class="btn btn-default btn-sm">按环境</a>
                        {% endif %}
                    </div>
                    <h5>排序</h5>
                </div>

                <!-- shops -->
                <div class="panel-body">
                    <ul class="list-group">
                        {% for shop in shops %}
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <a href="#" class="thumbnail">
                                            <img src={{ shop.pic }} >
                                        </a>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="caption">
                                            <h3>{{ shop.shopname }}</h3>
                                                <p>{{ shop }}</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <p>
                                            <a href="{% url 'single_shop:single_shop' id=shop.id %}" class="btn btn-primary">详情</a>  <!-- add shop url here -->
                                            <a href="#" class="btn btn-default">收藏</a>
                                        </p>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div> <!-- shops -->
            </div>
        </div>

        <!-- statistics -->
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5>统计信息</h5>
                </div>

                <!-- shops -->
                <div class="panel-body">
                    <a href="{% url 'home:statistics' loc=loc foodtype=foodtype %}" class="btn btn-default btn-sm">显示统计信息</a>
                </div>
            </div>
        </div> <!-- statistics -->

    </div>

    </div>
    <!-- end of the block -->


{% endblock %}