{% extends 'base.html' %}

{% block content%}

<div>
    <form method="post" action="{% url 'home:signup-submit' %}">
        {% csrf_token %}
        <div class="container">
            <div class="page-header">
          <h1>　　　　　　　　　　　　　　<img src="/static/media/avatar/default.jpg" width="165px" height="165px" alt="头像" /></h1>
                <h1>　　　　　　　　　　　　　　　  注册</h1>
            </div>
            <ul><ul><ul><ul><ul><ul><ul><ul><ul><ul><ul>
                <div class="input-group input-group-lg">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span> 
            <input type="text" style = "width:38%" id="username" name="username" class="form-control" placeholder="ID" required />
                </div>
                </ul></ul></ul></ul></ul></ul></ul></ul></ul></ul></ul>
            <ul><ul><ul><ul><ul><ul><ul><ul><ul><ul><ul>
        <div class="input-group input-group-lg">
             <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span> 
            <input type="password" style = "width:38%" id="password" name="password" class="form-control" placeholder="密码" required />
        </div>
                </ul></ul></ul></ul></ul></ul></ul></ul></ul></ul></ul>
            <ul><ul><ul><ul><ul><ul><ul><ul><ul><ul><ul>
        <div class="input-group input-group-lg">
             <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span> 
            <input type="email" style = "width:38%" id="email" name="email" class="form-control" placeholder="电子邮件地址" required />
        </div>
                </ul></ul></ul></ul></ul></ul></ul></ul></ul></ul></ul>
            <ul><ul><ul><ul><ul><ul><ul><ul><ul><ul><ul>
        <div class="input-group input-group-lg">
             <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span> 
            <input type="name" style = "width:38%" id="name" name="name" class="form-control" placeholder="姓名" required />
        </div>
                </ul></ul></ul></ul></ul></ul></ul></ul></ul></ul></ul>
            <ul><ul><ul><ul><ul><ul><ul><ul><ul><ul><ul>
        <div class="input-group input-group-lg">
             <span class="input-group-addon"><i class="glyphicon glyphicon-heart"></i></span> 
            <input type="gender" style = "width:38%" id="gender" name="gender" class="form-control" placeholder="性别" required />
        </div>
                </ul></ul></ul></ul></ul></ul></ul></ul></ul></ul></ul>
                <ul><ul><ul><ul><ul><ul><ul><ul><ul><ul><ul><ul><ul><ul><ul><ul><ul>
        <button type="submit" class="btn btn-primary">注册</button>
                </ul></ul></ul></ul></ul></ul></ul></ul></ul></ul></ul></ul></ul></ul></ul></ul></ul>
        </div>
        <br><br><br><br><br><br>
    </form>
</div>

{% endblock %}