{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
    <style type="text/css">
        #title{
            background-color: #000000;
            font-size:20px;
            color:whitesmoke;
        }
        #like-title {
            background-color: #000000;
            font-size:20px;
            color:whitesmoke;
        }
    </style>
    <div class="container">
        <div class="page-header"><ul>
            <h1><img src="/static/media/avatar/default.jpg" width="150px" height="150px" alt="头像" />
                {{ profile_user.username }}的账户</h1>
            </ul>
        </div>
        <div class="col">
            <div class="col-md-9">
                <div class="panel-heading" id="title">{% bootstrap_icon 'user' %} <b>个人信息</b></div>
                <div>
                    {% if user != profile_user %}
                        <li class="list-group-item">
                            <p>　{% bootstrap_icon 'user' %} <strong>用户姓名</strong> : {{ profile_user.name }}</p>
                        </li>
                        <li class="list-group-item">
                        <p>　{% bootstrap_icon 'envelope' %} <strong>用户电子邮件地址</strong> : {{ profile_user.email }}</p>
                    </li>
                    <li class="list-group-item">
                        <p>　{% bootstrap_icon 'heart' %} <strong>用户性别</strong> : {{ profile_user.gender }}</p>
                    </li>
                    <li class="list-group-item">
                        <p>　{% bootstrap_icon 'globe' %} <strong>用户所在的位置</strong> ( 经度 : {{ profile_user.longitude }} , 纬度 : {{ profile_user.latitude }} )</p>
                    </li>
                {% else %}
                    <form method="POST" action="{% url 'home:change_profile' %}">
                        {% csrf_token %}
                        <li class="list-group-item">
                            <p>　<strong>用户姓名</strong> : {{ profile_user.name }}</p>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span> 
                                <input type="text" style = "width:70%" id="name" name="name" class="form-control" placeholder="修改用户姓名" required />
                            </div>
                        </li>
                        <li class="list-group-item">
                            <p>　<strong>用户电子邮件地址</strong> : {{ profile_user.email }}</p>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span> 
                                <input type="email" style = "width:70%" id="email" name="email" class="form-control" placeholder="修改用户电子邮件地址" required />
                            </div>
                        </li>
                        <li class="list-group-item">
                            <p>　<strong>用户性别</strong> : {{ profile_user.gender }}</p>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-heart"></i></span> 
                                <input type="gender" style = "width:70%" id="gender" name="gender" class="form-control" placeholder="修改用户性别" required />
                            </div>
                        </li>
                        <li class="list-group-item">
                            <p>　<strong>用户所在的位置</strong> ( 经度 : {{ profile_user.longitude }} , 纬度 : {{ profile_user.latitude }} )</p>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span> 
                                <input type="longitude" style = "width:70%" id="longitude" name="longitude" class="form-control" placeholder="修改用户所在地方的经度" required />
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></span> 
                                <input type="latitude" style = "width:70%" id="latitude" name="latitude" class="form-control" placeholder="修改用户所在地方的纬度" required />
                            </div>
                        </li>
                        <ul><ul><ul><ul><ul><ul><ul><ul><ul><ul><ul><ul><ul><ul><ul><ul><ul><ul><ul>
                            <button type="submit" class="btn btn-primary">修改</button>
                        </ul></ul></ul></ul></ul></ul></ul></ul></ul></ul></ul></ul></ul></ul></ul></ul></ul></ul></ul>
                    </form>
                {% endif %}
            </div>
            <div class="panel-heading" id="title">{% bootstrap_icon 'user' %} <b>好友列表</b></div>
            {% if profile_friends != profile_user %}
                {% for person in profile_friends %}
                    <li class="list-group-item">
                        　 {% bootstrap_icon 'hand-right' %}<a href="{% url 'home:userprofile' person.username %}"> {{ person.username }}</a>
                    </li>
                {% endfor %}
            {% endif %}
            {% if user.username != profile_user.username and friend == user %}
                <div class="panel-heading" id="title">{% bootstrap_icon 'user' %} <b>申请好友</b></div>
                <li class="list-group-item">
                    　 {% bootstrap_icon 'hand-right' %}<a href="{% url 'home:requestfriend' profile_user.username %}"> 申请好友</a>
                </li>
            {% elif user.username == profile_user.username and profile_friends != profile_user %}
                <div class="panel-heading" id="title">{% bootstrap_icon 'user' %} <b>删除好友</b></div>
                {% for person in profile_friends %}
                    <li class="list-group-item">
                        　 {% bootstrap_icon 'hand-right' %}<a href="{% url 'home:delete_friend' person.username %}"> 从好友列表中删除"{{ person.username }}"</a>
                    </li>
                {% endfor %}
            {% endif %}
            {% if request_freinds != profile_user and profile_user == user%}
                <div class="panel-heading" id="title">{% bootstrap_icon 'user' %} <b>好友申请列表</b></div>
                {% for person in request_freinds %}
                    <li class="list-group-item">
                        　 {% bootstrap_icon 'hand-right' %}<a href="{% url 'home:makefriend' person.from_user %}"> 接受{{ person.from_user }}的好友申请</a>
                    </li>
                {% endfor %}
            {% endif %}
            <div class="panel-heading" id="title">{% bootstrap_icon 'user' %} <b>收藏店铺列表</b></div>
            {% if collect_shops != profile_user %}
                {% for shop in collect_shops %}
                    <li class="list-group-item">
                        　 {% bootstrap_icon 'hand-right' %}<a href="{% url 'single_shop:single_shop' shop.id %}"> {{ shop.shopname }}</a>
                    </li>
                {% endfor %}
            {% endif %}
            {% if comments != user and profile_user == user %}
                <div class="panel-heading" id="title">{% bootstrap_icon 'user' %} <b>所有用户发表的评论</b></div>
                {% for comment in comments %}
                    <li class="list-group-item">
                        <p>{% bootstrap_icon 'user' %} {{ comment.username }}　{% bootstrap_icon 'home' %}
                            <a href="{% url 'single_shop:single_shop' comment.shop.id %}"> {{ comment.shop.shopname }}</a>　
                                {% bootstrap_icon 'time' %} {{ comment.created_at }}</p>
                        <p class="list-group-item-text">
                            {% bootstrap_icon 'comment' %} {{ comment.content }}
                        </p>
                    </li>
                {% endfor %}
            {% endif %}
            </div>
            </li>
            </h5>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading" id="like-title">用户可能喜欢</div>
                <!-- List group -->
                <ul class="list-group">
                    {% for similar_shop in similar_shops %}
                        <a href="{% url 'single_shop:single_shop' id=similar_shop.id %}" class="list-group-item">
                            <div class="row">
                                <div class="col-md-6" >
                                    <img src={{similar_shop.pic}} class="img-responsive" alt={{shop.shopname}}/>
                                </div>

                                <div class="col-md-6" id="similar-shopname" style="margin-left:-15px;">
                                    <p>{% bootstrap_icon 'home' %} {{ similar_shop.shopname }}</p>
                                    <p>{% bootstrap_icon 'th-list' %} {{ similar_shop.loc }} | {{ similar_shop.foodtype }}</p>
                                    <!--<p>{{ similar_shop.shoplevel }}</p>-->
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}